*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: monospace;
    font-size: 62.5%;
}

body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #204ac8;
}

.canvas {
    border: 0.1rem solid black;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    padding: 2.5rem;
}

.heading__link,
.heading__link:active,
.heading__link:focus {
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
}
